

<h3 class="page">正在热映</h3>
<div class="list-group">
  <a href="#" class="list-group-item" ng-repeat="items in subjects">
    <div class="media">
	  <div class="media-left">
	    <img class="media-object" ng-src="{{items.images.small}}" alt="items.title" height=128> 
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{items.title}}</h4>
	    <p>
          类型：<span>{{items.genres.join('、')}}</span>&nbsp;&nbsp;&nbsp;&nbsp; 上映年份：
          <span>{{items.year}}</span></p>
        <p>
          捣眼：
          <span ng-repeat="d in items.directors">
	        	{{d.name + ($last?'':'、')}}
	        	<!-- <span ng-if="!$last">、</span> -->
          </span>
        </p>
        <p>
          主演：
          <span ng-repeat="c in items.casts">
	        	{{c.name}}{{$last?'':'、'}}
	        	<!-- <span ng-if="!$last">、</span> -->
          </span>
        </p>
	  </div>
	</div>
  </a>
  
</div>

<div ng-show="!loading">
  <p>总共：{{total}}条记录，第{{currentPage}}/{{pageCount}}页</p>
  <nav>
    <ul class="pager">
      <li ng-class="{disabled:currentPage<=1}"><a ng-click="go(currentPage - 1)">« 上一页</a></li>
      <li ng-class="{disabled:currentPage>=pageCount}"><a ng-click="go(currentPage + 1)">下一页 »</a></li>
    </ul>
  </nav>
</div>
<!-- loading动画层 -->
<div class="spinner" ng-show="loading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
